<div class="conversation-block"> 
    <a class="marginL marginS" href="#/main">Go to main page</a>
    <div class="flex marginL">
        <app-button *ngIf="canDelete" class="marginS" (click)="deleteHandler()">Delete conversation</app-button>
        <app-button class="marginS" (click)="updateHandler()" [disabled]="updateDisabled">Update conversation</app-button> 
    </div>
    <div class="marginL blue marginS" *ngIf="updateDisabled" >You can update conversation in: {{countdown$ | async}} seconds</div>
    <app-messages [formattedItems]="formattedItems" (sendEmitter)="handleSend($event)"></app-messages>
    <app-confirmation [visible]="showConfirmation" 
        text="Delete group?"
        (closeEmitter)="handleCloseConfirmation()"
        (deleteEmitter)="handleDeleteConfirmation()">
    </app-confirmation> 
    <app-toast [message]="toastMessage" [show]="isToastVisible" [mode]="mode"></app-toast>
</div>