<div class="messages-area"> 
    <div class="message-block {{item.name === 'Me' ? 'align-right' : 'align-left'}}" *ngFor="let item of formattedItems">
        <div class="message-item  {{item.name === 'Me' ? 'beige' : 'light'}}">
            <div class="blue small-font">{{ item.name }}</div>
            <div class="small-font blue">{{ item.date }}</div>
            <div class="">{{ item.message }}</div>
        </div>
    </div>
    <div> 
        <form class="column" [formGroup]="createMessageForm">
            <textarea rows="5" cols="100" class="" formControlName="message" required></textarea> 
            <div *ngIf="message?.invalid && (message?.dirty || message?.touched)" class="invalid">
                <div *ngIf="message?.errors?.['required']">
                   Please enter a message
                </div>
           </div>      
            <app-button class="margin-top" (click)="sendHandler()" [disabled]="!message?.value">Send</app-button>
        </form>   
    </div>
</div>