.align-right {
    align-items: end;
}

.align-left {
    align-items: start;
}

.message-block {
    display: flex;
    flex-direction: column;
}

.small-font {
    font-size: 12px;
}

.blue {
    color: #0d6821;
}

.light {
    background-color: #e9f7f7;
}

.beige {
    background-color: #f1eec8;
}

.message-item {
    border-radius: 20px;
    padding-right: 12px;
    padding-top: 4px;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-bottom: 4px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.messages-area {
    background-color: #9dbf92;
    padding-left: 8px;
    padding-right: 8px;
}

.column {
    display: flex;
    flex-direction: column;
}

.invalid {
    color: red;
}