<div class="item-block border" [class]="this.borderColor">
  <ng-container *ngIf="!item.custom">
    <ng-container *ngIf="item.favorite">
      <img class="above" src='assets/images/likesIcon.png' (click)="favoriteHandler()"/>
    </ng-container>
    <ng-container *ngIf="!item.favorite">
      <img class="above" src='assets/images/favorite.png' (click)="favoriteHandler()"/>
    </ng-container>
  </ng-container>
  <img class="image" src="{{ item?.snippet?.thumbnails?.default?.url }}" />
  <div class="flex-center">
    <img src="assets/images/viewsIcon.png" />
    <span class="margin-small font-small">{{ item?.statistics?.favoriteCount }}</span>
    <img class="margin-medium" src="assets/images/likesIcon.png" />
    <span class="margin-small font-small">{{ item?.statistics?.likeCount }}</span>
    <img class="margin-medium" src="assets/images/dislikesIcon.png" />
    <span class="margin-small font-small">{{
      item?.statistics?.likeCount
    }}</span>
    <img class="margin-medium" src="assets/images/commentsIcon.png" />
    <span class="margin-small font-small">{{
      item?.statistics?.commentCount
    }}</span>
  </div>
  <div class="name">
    {{ item?.snippet?.channelTitle }} {{ item?.snippet?.title }}
  </div>
  <div class="flex-center top-large">
    <app-button (click)="clickHandler()">more..</app-button>
    <ng-container *ngIf="item.custom">
      <app-button class="margin-small" (click)="deleteClickHandler()">Delete card</app-button>
    </ng-container>
  </div>
</div>