.item-block {
    background-color: #e3e0e0;
    width: 250px;
    height: 300px;
    border-radius: 6px;
}

.above {
    position: absolute;
    z-index: 100;
}

.image {
    width: 90%;
    height: 40%;
    padding: 12px;
}

.margin-medium {
    margin-left: 12px;
}

.margin-small {
    margin-left: 4px;
}

.font-small {
    font-size: 12px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.name {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: grey;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 46px;
}

.top-large {
    position: relative;
    top: 24px;
}

.border {
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.border-red {
    border-bottom-color: red;
}

.border-yellow {
    border-bottom-color: yellow;
}

.border-green {
    border-bottom-color: green;
}

.border-blue {
    border-bottom-color: blue;
}